.nav{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#BC1823 ;
}
.title{
   
    width: 50vw;
    align-items: center;
    display: flex;
}
.profile{
    
    width: 15vw;
    align-items: center;
    display: flex;
}
.profile img{
    margin-left: 35px;
    border-radius: 50%;
}
.container{
    height:150vh;
    background-image:url(../../../assets/bg.jpg);
}
.maincon{
   display: grid;
   align-items: center;
   justify-content: center;
   height: 90vh;
   width: 100%;
}
.card{
   margin-top: 5vh;
    background-color: white;
     height: 65vw;
     width: 60vw;
     border: 1px solid rgb(0, 0, 0);
    //  border-top-left-radius: 5%;
    //  border-top-right-radius: 5%;
    //  border-bottom-left-radius: 5%;
    //  border-bottom-right-radius: 5%;
}
.text{
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: space-around;
    font-size: 1vw;
    color: black;
   
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 1vw;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
.imgC{
    background-position: center;
    background-size: cover;
    width: 3.5vw;
    height: 3.5vw;
}
/* === removing default button style ===*/
.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  
  /* button styling */
  .button {
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255, 0.6);
    --animation-color: #ff0000;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }