<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login_page</title>
</head>

<body>
    <div class="nav">
        <div class="title">
                <img src="../../../assets/icon_web-removebg-preview.png" alt="" width="250vw" height="60vw">
                <div style="justify-content: center; align-items: center; display: flex;  width: 90vh; "> 
                    <button mat-button style="margin-left: 2vw; color: #ffffff; font-size: 1vw;" routerLink="/rank">Rank</button>
                    <button mat-button style="margin-left: 2vw; color: #ffffff; font-size: 1vw;" routerLink="/status">Status</button>
                    <button mat-button style="margin-left: 2vw; color: #ffffff; font-size: 1vw;" routerLink="/admins">Admins</button>
                    <button mat-button style="margin-left: 2vw; color: #ffffff; font-size: 1vw;" routerLink="/yourgame">Yourgame</button>
                    <button mat-button style="margin-left: 2vw; color: #ffffff; font-size: 1vw;" routerLink="/upload-edit">Upload/edit</button>
                </div>
        </div>
        <div class="profile" style="width: 30vh; margin-right: 1vw;">
            <button mat-button style="margin-left: 1vw; color: #ffffff; font-size: 1vw;" routerLink="/profile">MyProfile</button>  
            <img src="https://media.istockphoto.com/id/656673020/photo/handsome-in-spectacles.jpg?s=612x612&w=0&k=20&c=klIlcueGJlAnOehrIZNpvFrVT_olKKqhaVT77H5Fj-s=" alt="" width="70vw" height="70vw">
        </div>
</div>
       <div class="container" >
                <div class="maincon" >
                                <div class="mainT">
                                            <h1 style="display: flex; justify-content: center; align-items: center;"> Choose the game</h1> 
                                            <h1 style="display: flex; justify-content: center; align-items: center;"> that you think is</h1>
                                            <h1 style="display: flex; justify-content: center; align-items: center;">better </h1>
                                            <div style="gap: 75vh;  display: flex; justify-content: center; width: 150vh;">
                                                <div style="display: flex; justify-content: center; align-items: center; gap: 25vh;">
                                                   <img src="{{ this.data[0]?.url }}" alt="" style="width: 30vh; border: 1vh solid;
                                                    border-image: linear-gradient(to right, #ffffff, #c10000);
                                                    border-image-slice: 1;" class="zoomable-image" (click)="click1()"> 
                                                    <h1 style="display: flex; justify-content: center; align-items: center; font-size: 5vw;"> OR </h1>
                                                    <img src="{{ this.data[1]?.url}}" alt="" style="width: 30vh; border: 1vh solid; 
                                                    border-image: linear-gradient(to right, #1000be, #ffffff);
                                                    border-image-slice: 1;" class="zoomable-image" (click)="click2()"> 
                                                </div>
                                                

                                             </div>
                                                <div  style="display: flex; justify-content: center; align-items: center; height: 30vh; ">
                                                    <footer> <img src="../../../assets/Screenshot 2024-02-28 203411.png" alt="">  </footer>
                                                </div>
                                                
                                            
                                </div>           
                </div >

       </div>
</body>

</html>
