<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login2</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Noto+Sans+Thai:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <div class="nav">
        <div class="title">
            <a routerLink="/">  <img src="../../../assets/icon_web-removebg-preview.png" alt="" width="250vw" height="60vw"></a>
                <div style="justify-content: center; align-items: center; display: flex;  width: 90vh; "> 
                    <button mat-button style="margin-left: 2vw; color: #000000; font-size: 1vw;" routerLink="/rank">Rank</button>
                    <button mat-button style="margin-left: 2vw; color: #000000; font-size: 1vw;" routerLink="/status">Status</button>
                    <button mat-button style="margin-left: 2vw; color: #000000; font-size: 1vw;" routerLink="/admins">Admins</button>
                    <button mat-button style="margin-left: 2vw; color: #000000; font-size: 1vw;" routerLink="/yourgame">Yourgame</button>
                    <button mat-button style="margin-left: 2vw; color: #000000; font-size: 1vw;" routerLink="/upload-edit">Upload/edit</button>
                </div>
        </div>
        <div class="profile" style="width: 30vh; margin-right: 1vw;">
            <button mat-raised-button style="width: 10vw; color: #ffffff; font-size: 1vw; background-color: #000;" routerLink="/Login">Login</button>  
            <div style="width: 4.5vw; height: 4.5vw; display: flex; justify-content: center; align-items: center; background-color: #ffffff; margin-left: 2vw; "> 
                <span class="material-symbols-outlined" style="font-size: 3vw; border: 1px solid rgb(255, 255, 255);">
                    person
                </span>
            </div>
        </div>
</div>

    <div class="container">
        <div class="maincon">
                    <div class="card">
                        <div class="text1">
                                    <h1>
                                        Sign into your account
                                    </h1>
                        </div>
                        <div>
                            <form [formGroup]="loginForm" (ngSubmit)="login">
                            <div style="display: grid; align-items: center;  margin-right: 6vw;">
                                <h3 style="margin-left: 5vw;">Username : &nbsp;</h3>
                                <div style="display: flex; justify-content: center; align-items: center;">
                                    <span class="material-symbols-outlined" style="font-size: 2vw; margin-right: 1vw;">
                                        person
                                        </span>
                                    <div class="inputGroup" >
                                        <input formControlName="gmail" type="email" style="width: 16vw;">
                                        <label for="name" >USER</label >
                                    </div>
                                </div>
                                
                            </div>
                            <div style="display: grid; align-items: center;  margin-right: 6vw;">
                                <h3 style="margin-left: 5vw;">Password: &nbsp;</h3>
                                <div style="display: flex; justify-content: center; align-items: center;">
                                    <span class="material-symbols-outlined" style="font-size: 2vw; margin-right: 1vw;">
                                        lock
                                        </span>
                                    <div class="inputGroup" >
                                        <input formControlName="password" type="password"  style="width: 16vw;">
                                        <label for="name" >PASSWORD</label >
                                    </div>
                                </div>
                                
                            </div>
                                <br>
                        <div style="display: grid; justify-content: center; align-items: center;">
                            <button  style="width: 10vw;">
                                <span class="shadow"></span>
                                <span class="edge"></span>
                                <span class="front text"> Login
                                </span>
                              </button>  
                              <a routerLink="/register" style="justify-content: center; align-items: center; display: flex; color: #000; margin-top: 1.5vw;"> REGISTER</a>
                        </div>
                       
                    </form>
                </div>
               
                  
                   
        </div>

     </div>
</div>
  
</body>

</html>