<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Noto+Sans+Thai:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
       
    
</head>
<body> <div class="nav">
    <div class="title">
            <img src="../../../assets/icon_web-removebg-preview.png" alt="" width="250vw" height="60vw">
            <div style="justify-content: center; align-items: center; display: flex;  width: 90vh; "> 
                <button mat-button style="margin-left: 2vw; color: #000000; font-size: 1vw;" routerLink="/rank">Rank</button>
                <button mat-button style="margin-left: 2vw; color: #000000; font-size: 1vw;" routerLink="/status">Status</button>
                <button mat-button style="margin-left: 2vw; color: #000000; font-size: 1vw;" routerLink="/admins">Admins</button>
                <button mat-button style="margin-left: 2vw; color: #000000; font-size: 1vw;" routerLink="/yourgame">Yourgame</button>
                <button mat-button style="margin-left: 2vw; color: #000000; font-size: 1vw;" routerLink="/upload-edit">Upload/edit</button>
            </div>
    </div>
    <div class="profile" style="width: 30vh;">
        <a href="profile" style="font-size: 1vw; margin-left: 2vw; color: rgb(0, 0, 0);"> MyProfile</a>   
        <img src="https://media.istockphoto.com/id/656673020/photo/handsome-in-spectacles.jpg?s=612x612&w=0&k=20&c=klIlcueGJlAnOehrIZNpvFrVT_olKKqhaVT77H5Fj-s=" alt="" width="70vh" height="70pvh">
    </div>
</div>
            <div class="container" >
                <div class="maincon">
                     <div class="card" style="border: 1px solid black;">
                        <div style="width: 100%; height: 75vh;  margin-top: 2vw;">
                            <h1 style=" justify-content: center; align-items: center; display: flex; font-size: xx-large;"> Edit Profile</h1> 
                            <div style="display: grid;  justify-content: center;  align-items: center;">
                                <h4 style=" justify-content: center;  align-items: center; display: flex; margin-top: 2vw;"> UserName</h4>
                                <div style="display: flex; gap: 1vw;">
                                 
                                    <div class="inputGroup">
                                        <input type="text" required="" >
                                        <label for="name" >Name</label >
                                    </div>
                                    <div class="inputGroup">
                                        <input type="text" required="" >
                                        <label for="name">LastName</label>
                                    </div>
                                </div>
                                
                                <div style="display: flex; justify-content: center; ">
                                    <h4 style=" justify-content: center;  align-items: center; display: flex;"> Email: &nbsp;</h4>
                                    <div class="inputGroup" style="margin-right: 5.5vw;">
                                        <input type="email" required=""  style="width: 17.5vw;">
                                    </div>
                                </div>
                                <div style="display:flex; justify-content: center; ">
                                    <h4 style=" justify-content: center;  align-items: center; display: flex;">PassWord:</h4>
                                    <div class="inputGroup" style="margin-right: 5.5vw;">
                                        <input type="password"  required=""  style="width: 17.5vw;">
                                    </div>
                                </div>
                                        <div style="display: flex; justify-content: center;">
                                            <h4 style=" justify-content: center;  align-items: center; display: flex; margin-top: 1.5vw;">Image</h4>
                                            <span class="material-symbols-outlined" style="margin-top: 1.5vw;">
                                                image
                                                </span>
                                        </div>
                                        <div style="display: grid; margin-top: 2vw; margin-left: 3vw;">
                                         <form  >
                                            <input type="file" id="fileUpload" name="fileUpload">
                                            <button type="submit" style="color: #BC1823;"> Upload</button>
                                          </form>
                                     </div>
                                     <div style="margin-top: 60px; display: flex; justify-content: center; align-items: center;">
                                        <button  style="width: 8vw;">
                                            <span class="shadow"></span>
                                            <span class="edge"></span>
                                            <span class="front text"> Save
                                            </span>
                                          </button>  
                                     </div>
                                       
            
                            </div>
                           
                        </div>
                        
                             
                                 </div>
                               
                                 

                        </div>
                       
                    </div>

                                    
              
           
</body>
</html>
