<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First_page</title>
</head>

<body>
    <nav>
        <div style="border: 0.2vw solid #121212; border-radius: 3.2vw; font-weight: bolder; color: #BC1823;">
            <a href=""><img src="https://img.hotimg.com/Gameless.png" style="border-radius: 5.5vw;" alt="logo"></a>
        </div>
        <a href="">
            <div>RANK</div>
        </a>
        <a href="">
            <div>ADMIN</div>
        </a>
        <div style="display: flex; align-items: center; gap: 5vw;"><a routerLink="/login1">
                <div>LOGIN/REGISTER</div>
            </a><img src="https://img.hotimg.com/User.png" alt="User" style="width: 4vw;"> </div>
    </nav>
    <div class="Allbox">
        <div>
            <img src="https://upload.wikimedia.org/wikipedia/en/b/b9/Elden_Ring_Box_art.jpg" alt="" style="width: 30vh; border: 1vw solid; 
            border-image: linear-gradient(to right, #ff0000, #0000ff);
            border-image-slice: 1;">
        </div>

        <div>
            <img src="https://upload.wikimedia.org/wikipedia/en/b/b9/Elden_Ring_Box_art.jpg" alt="" style="width: 30vh; border: 1vw solid; 
            border-image: linear-gradient(to right, #ff0000, #0000ff);
            border-image-slice: 1;">
        </div>

    </div>
</body>

</html>